
.icon-cw:before { content: '\e800'; } /* '' */
.icon-cancel-circled2-1:before { content: '\e801'; } /* '' */
.icon-cw-circled:before { content: '\e802'; } /* '' */
.icon-cancel-circled-3:before { content: '\e804'; } /* '' */
.icon-ok-outline:before { content: '\e805'; } /* '' */
.icon-cancel-squared:before { content: '\e806'; } /* '' */
.icon-cancel-outline:before { content: '\e807'; } /* '' */
.icon-cw-1:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e811'; } /* '' */
.icon-cancel-circled-1:before { content: '\e813'; } /* '' */
.icon-cancel-circled2:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e815'; } /* '' */
.icon-ok:before { content: '\e816'; } /* '' */
.icon-ok-circled:before { content: '\e817'; } /* '' */
.icon-ok-circled2:before { content: '\e818'; } /* '' */
.icon-cancel-circled-2:before { content: '\e819'; } /* '' */
.icon-check:before { content: '\e81a'; } /* '' */
.icon-cancel-1:before { content: '\e81b'; } /* '' */
.icon-cw-outline:before { content: '\e81c'; } /* '' */
.icon-cancel-2:before { content: '\e81d'; } /* '' */