/************ UNIVERSAL **************************/

/*navbar*/
.wrapper {
	padding: 20px;
	padding-bottom: 0px;
	background-color: white;
}
.navBar {
	text-align: right;
	padding-bottom: 20px;
}
#fetch2, button {
	display: inline-block;
}
.navBar h1 {
	float: left;
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
}
#title1 {
	color: #e23636;
}
#title1:hover, #title2:hover {
	cursor: pointer;
	color: #518cca;
}
/*divider*/
.divider {
	background-image: url("images/bar.jpg");
	background-position: 50% 30%;
	margin-top: 0px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
#headerBar {
	height: 5vh;
}
#footerBar {
	height: 10vh;
}
/*misc universals*/
h3 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
button, input {
	border-color: #504a4a;
	color: #504a4a;
	margin: 10px;
}
button:hover {
	color: #e23636;
	border-color: #e23636;
}
button:visited {
	color: #e23636;
	border-color: #e23636;
}
body {
	background-color: #504a4a;
}
footer {
	text-align: center;
	background-color: white;
}
img {
	width: 100%;
	height: auto;
}

/************* MAIN PAGE **************************/
.four {
	border: 3px solid black;
	padding: 10px;
	text-align: center;
}
.columns {
	margin-top: 30px;
	margin-bottom: 30px;
}
#hook, #picture {
	border: 5px solid #f78f3f;
	padding: 25px;
}
h5 {
	font-family: 'Bangers', cursive;
	color: white;
	font-size: 50px;
	margin-top: 30%;
	text-shadow: 0px 5px 10px black;
}
.contentWrapper {
	margin: 0px;
	background-color: #504a4a;
	padding: 20px;
}
#spiderman {
	background: url("images/spiderman.png") center center no-repeat;
	background-position: center center;
}
#deadpool {
	background: url("images/deadpool.png") center center no-repeat;
	background-position: top;
}
#ghostRider {
	background: url("images/ghostRider.png");
	background-position: 25% 25%;
}
#ghostRider, #deadpool, #spiderman {
	height: 40vh;
	border: 5px solid #518cca;
}
#ghostRider:hover, #deadpool:hover, #spiderman:hover {
	cursor: pointer;
}
#hook {
	background-color: white;
}
#eyePopper {
	margin: 20px;
	background-color: #969292;
	padding: 50px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 300px 0px 300px / 300px 0px;
}
#siteDesc {
	padding-left: 5%;
	padding-right: 5%;
}

/************* BROWSE COMICS ********************/

#browseComics, #creators, #loadingGif, #ratingSystem, #save, #saved {
	display: none;
}
.content {
	padding: 50px;
	text-align: center;
	background-color: #504a4a
}
.content h1 {
	color: white;
}
.content p {
	color: white;
}
#term {
	border: 5px solid #e23636;
	color: #e23636;
}
#search, #save, #refresh {
	background-color: white;
}
.optionOne:hover, .optionTwo:hover, .optionThree:hover {
	cursor: pointer;
	color: #e23636;
}
#creatorsNumber:hover, #rating:hover {
	cursor: pointer;
	color: #e23636;
}
#creatorsNumber, #rating {
	border: 2px solid white;
	margin: none;
	padding: none;
}

/******************** MY COMICS LIST **********************/

#myComicsList {
	display: none;
}
#myComicsTable {
	color: white;
	width: 100%;
	margin-top: 10vh;
}
#myComicsTable img {
	height: 20vh;
	width: auto;
}
#tableIndex {
	color: #e23636;
}
#newComicNext {
	color: #518cca;
}
#newComicName {
	color: #f78f3f;
}