/*#comicInfo {
	width: 50%;
}
img {
	width: 10%;
	height: auto;
}*/
.bottomBar {
	background-image: url("images/bar.jpg");
	margin-top: 0px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
#headerBar {
	height: 5vh;
}
#footerBar {
	height: 10vh;
}
.wrapper {
	padding: 20px;
	padding-bottom: 0px;
}
.navBar {
	text-align: right;
}
.button, #fetch2, .home, .browse, .myComics, .calendar {
	display: inline-block;
}
.navBar h1 {
	float: left;
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
}
#title1 {
	color: #e23636;
}
.four {
	border: 3px solid black;
	padding: 10px;
	text-align: center;
}
.columns {
	margin-top: 30px;
	margin-bottom: 30px;
}
#hook, #picture {
	border: 5px solid #f78f3f;
	padding: 25px;
}
h3 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
h5 {
	font-family: 'Bangers', cursive;
	color: white;
	font-size: 50px;
	margin-top: 30%;
	text-shadow: 0px 5px 10px black;
}
.contentWrapper {
	margin: 0px;
	background-color: #504a4a;
	padding: 20px;
}
#spiderman {
	background-image: url("images/spiderman.png")
}
#deadpool {
	background-image: url("images/deadpool.png");
}
#ghostRider {
	background-image: url("images/ghostRider.png");
}
#ghostRider, #deadpool, #spiderman {
	height: 50vh;
	border: 5px solid #518cca;
}
#picture {
	padding: 0px;	
}
img {
	width: 100%;
	height: auto;
}
#hook {
	background-color: white;
}
#eyePopper {
	margin: 20px;
	background-color: #969292;
	padding: 50px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 300px 0px 300px / 300px 0px;
}
#siteDesc {
	padding-left: 5%;
	padding-right: 5%;
}
button, input {
	border-color: #504a4a;
	color: #504a4a;
}
button:hover {
	color: #e23636;
	border-color: #e23636;
}
button:visited {
	color: #e23636;
	border-color: #e23636;
}
.button:hover {
	border-color: #e23636;
	color: #e23636;
}
.button {
	border-color: black;
}
.content {
	padding: 50px;
	text-align: center;
	background-color: #504a4a
}
.content h1 {
	color: white;
}
.content p {
	background-color: white;
	border: 5px solid #f78f3f;
}
#term {
	border: 5px solid #e23636;
	color: #e23636;
}
#search {
	background-color: white;
}