/*#comicInfo {
	width: 50%;
}
img {
	width: 10%;
	height: auto;
}*/
.bottomBar {
	background-image: url("bar.jpg");
	margin-top: 0px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
#headerBar {
	height: 5vh;
}
#footerBar {
	height: 10vh;
}
.wrapper {
	padding: 20px;
	padding-bottom: 0px;
}
.navBar {
	text-align: right;
}
button, #fetch, .home, .browse, .myComics, .calendar {
	display: inline-block;
}
h1 {
	float: left;
	display: inline-block;
}
.four {
	border: 3px solid black;
	padding: 10px;
	text-align: center;
}
.columns {
	margin-top: 30px;
	margin-bottom: 30px;
}
.six {
	border: 5px solid orange;
	padding: 25px;
}
h3 {
	text-align: center;
}
.contentWrapper {
	margin: 30px;
	padding: 20px;
}
#spiderman {
	background-image: url("spiderman.png")
}
#deadpool {
	background-image: url("deadpool.png");
}
#ghostRider {
	background-image: url("ghostRider.png");
}
#ghostRider, #deadpool, #spiderman {
	height: 60vh;
}
#picture, img {
	padding: 0px;
	height: 60vh;
}